Ti.include("/views/<%= @class_name %>.js");

var #{name}Controller = Controller.extend({
    init: function(win) {
        this._super(win);

        this.view = new <%= @class_name %>View(win, this);
    }
});